  <!-- catergory filter print -->
  <div class="angular-sidebar-category-filter">
    <div class="angular-category-filter" ng-mouseover="addClass()" ng-mouseleave="removeClass()">
      <div class="angular-category-link" ng-click="activeButton()">
        {{restaurant.translated_text.category}}...
      </div>
      <div class="angular-catergory" ng-class="{'active': isActive}">
        <div ng-repeat="menu in restaurant.menu" ng-class="{active:$first}" class="angular-catergory-list"> 
          <div class="angular-category-name angular-catergory-list-child angular1-category-title-{{menu.id}}" data="{{ menu.id }}" ng-click="updateProduct(menu.id)" ><div class="category-count-section" ng-if="restaurant.order_settings.show_cat_count == 1">{{menu.count}}</div> {{menu.title}}</div>
        </div>
      </div>
    </div>
  </div>