<div ng-repeat="current_menu in filtered_menu">

    <!--   Product level -->
    <div ng-repeat="menuitem in current_menu.menu_item| filter:search"  class="col-lg-4 col-sm-6 col-md-4 col-xs-6 {{current_menu.title}} product-section {{current_menu.id}} ">

        <div class="product-section-div {{menuitem.id}}">

            <div class="product-image"><img ng-src="{{menuitem.image_url}}"></div>
            <div class="product-name-price">
                <div class="product-name"><div ng-repeat="restaurant in restaurants" class="count-menu-item-section"><div class="count-menu-item" ng-if="restaurant.order_settings.show_item_count == 1">{{menuitem.count}}. </div></div><span ng-bind-html="menuitem.title | html"></span></div>
                <div class="product-price"><div ng-repeat="restaurant in restaurants" class="currency-sign"><span ng-bind-html="restaurant.currency_sign | html"></span></div>{{menuitem.price| number:2}}</div>
            </div>
            <div class="product-price-cart">
                <div class="product-description" ng-bind-html="menuitem.description | html"></div>
                <div ng-if="menuitem.variant.length || menuitem.attribute.length" class="product-add-button-type">
                    <div ng-repeat="restaurant in restaurants" class="category-level-timing">
                        <div ng-if="restaurant.timings_set == 1 && preorder_option == '0' && restaurant.rest_open == 1">
                            <div ng-init = "timing_validate(restaurant.timings)">
                                <div ng-if="restaurant_open_now == 1">
                                    <div ng-if="current_menu.timings_set == 1">
                                        <div ng-init="category_timing_validate(current_menu.timings)">
                                            <div ng-if="catergory_open_now == 1">
                                                <div ng-if="menuitem.combo == 0">
                                                    <div class="product-customize {{menuitem.id}}" ng-click="updateTopping(menuitem.id); ClearCheckbox(menuitem.id); clearcomment(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                                </div>
                                                <div ng-if="menuitem.combo == 1">
                                                    <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                                </div>
                                            </div>
                                            <div ng-if="catergory_open_now == 0">
                                                <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html">  </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="current_menu.timings_set == 0">
                                        <div ng-if="menuitem.combo == 0">
                                            <div class="product-customize {{menuitem.id}}" ng-click="updateTopping(menuitem.id); ClearCheckbox(menuitem.id); clearcomment(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                        </div>
                                        <div ng-if="menuitem.combo == 1">
                                            <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                        </div>
                                    </div>
                                    <div ng-if="current_menu.timings_set == 2">
                                        <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html">    </span>
                                    </div>
                                </div>
                                <div ng-if="restaurant_open_now == 0">
                                    <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                                </div>
                            </div>
                        </div> 
                        <div ng-if="(restaurant.timings_set == 2 && preorder_option == '0') || restaurant.rest_open == 0">
                            <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                        </div>
                        <div ng-if="(restaurant.timings_set == 0 && restaurant.rest_open == 1) || (preorder_option == '1' && restaurant.rest_open == 1)">
                            <div ng-if="current_menu.timings_set == 1">
                                <div ng-init="category_timing_validate(current_menu.timings)">
                                    <div ng-if="catergory_open_now == 1">
                                        <div ng-if="menuitem.combo == 0">
                                            <div class="product-customize {{menuitem.id}}" ng-click="updateTopping(menuitem.id); ClearCheckbox(menuitem.id); clearcomment(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                        </div>
                                        <div ng-if="menuitem.combo == 1">
                                            <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                        </div>
                                    </div>
                                    <div ng-if="catergory_open_now == 0">
                                        <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="current_menu.timings_set == 0">
                                <div ng-if="menuitem.combo == 0">
                                    <div class="product-customize {{menuitem.id}}" ng-click="updateTopping(menuitem.id); ClearCheckbox(menuitem.id); clearcomment(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                </div>
                                <div ng-if="menuitem.combo == 1">
                                    <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                </div>
                            </div>
                            <div ng-if="current_menu.timings_set == 2">
                                <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Normal Add to cart -->
                <div ng-if="!menuitem.variant.length && !menuitem.attribute.length" class="product-add-button-type">
                    <div class="product-add-to-cart">

                        <div class="category-timing">
                            <div ng-repeat="restaurant in restaurants" class="category-level-timing">
                                <div ng-if="restaurant.timings_set == 1 && preorder_option == '0' && restaurant.rest_open == 1">
                                    <div ng-init = "timing_validate(restaurant.timings)">
                                        <div ng-if="restaurant_open_now == 1">
                                            <div ng-if="current_menu.timings_set == 1">
                                                <div ng-init="category_timing_validate(current_menu.timings)">
                                                    <div ng-if="catergory_open_now == 1">
                                                        <div ng-if="menuitem.combo == 0">
                                                            <a href="" ng-click="cart.addItem(menuitem.id, menuitem.title, menuitem.price, menuitem.min_qty, menuitem.image_url, menuitem.id, updatedSize(menuitem.id)['variantid'], updatedValue(menuitem.id)['opval'], current_menu.id, null, null, null, null, null, null, null, null, menuitem.min_qty, null)"  class="product-cart-item-update" data="{{menuitem.id}}" ng-bind-html="restaurant.translated_text.add | html"> </a>
                                                        </div>
                                                        <div ng-if="menuitem.combo == 1">
                                                            <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="catergory_open_now == 0">
                                                        <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html">     </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="current_menu.timings_set == 0">
                                                <div ng-if="menuitem.combo == 0">
                                                    <a href="" ng-click="cart.addItem(menuitem.id, menuitem.title, menuitem.price, menuitem.min_qty, menuitem.image_url, menuitem.id, updatedSize(menuitem.id)['variantid'], updatedValue(menuitem.id)['opval'], current_menu.id, null, null, null, null, null, null, null, null, menuitem.min_qty, null)"  class="product-cart-item-update" data="{{menuitem.id}}" ng-bind-html="restaurant.translated_text.add | html"> </a>
                                                </div>
                                                <div ng-if="menuitem.combo == 1">
                                                    <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                                </div>
                                            </div>
                                            <div ng-if="current_menu.timings_set == 2">
                                                <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                                            </div>
                                        </div>
                                        <div ng-if="restaurant_open_now == 0">
                                            <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="(restaurant.timings_set == 2 && preorder_option == '0') || restaurant.rest_open == 0">
                                    <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                                </div>
                                <div ng-if="(restaurant.timings_set == 0 && restaurant.rest_open == 1) || (preorder_option == '1' && restaurant.rest_open == 1)">
                                    <div ng-if="current_menu.timings_set == 1">
                                        <div ng-init="category_timing_validate(current_menu.timings)">
                                            <div ng-if="catergory_open_now == 1">
                                                <div ng-if="menuitem.combo == 0">
                                                    <a href="" ng-click="cart.addItem(menuitem.id, menuitem.title, menuitem.price, menuitem.min_qty, menuitem.image_url, menuitem.id, updatedSize(menuitem.id)['variantid'], updatedValue(menuitem.id)['opval'], current_menu.id, null, null, null, null, null, null, null, null, menuitem.min_qty, null)"  class="product-cart-item-update" data="{{menuitem.id}}" ng-bind-html="restaurant.translated_text.add | html"> </a>
                                                </div>
                                                <div ng-if="menuitem.combo == 1">
                                                    <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                                </div>
                                            </div> 
                                            <div ng-if="catergory_open_now == 0">
                                                <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="current_menu.timings_set == 0">
                                        <div ng-if="menuitem.combo == 0">
                                            <a href="" ng-click="cart.addItem(menuitem.id, menuitem.title, menuitem.price, menuitem.min_qty, menuitem.image_url, menuitem.id, updatedSize(menuitem.id)['variantid'], updatedValue(menuitem.id)['opval'], current_menu.id, null, null, null, null, null, null, null, null, menuitem.min_qty, null)"  class="product-cart-item-update" data="{{menuitem.id}}" ng-bind-html="restaurant.translated_text.add | html"> </a>
                                        </div>
                                        <div ng-if="menuitem.combo == 1">
                                            <div class="product-customize {{menuitem.id}}" ng-click="updateCombo(menuitem.id); commentinput = null" id="product-customize-id" ng-bind-html="restaurant.translated_text.customize | html"></div>
                                        </div>
                                    </div>
                                    <div ng-if="current_menu.timings_set == 2">
                                        <span class="restaurant-closed-button" ng-bind-html="restaurant.translated_text.closed | html"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Normal Add to cart code End-->



            </div>
            <div class="product-added-to-cart-text">
                <div ng-repeat="restaurant in restaurants">
                    <span ng-bind-html="restaurant.translated_text.added_to_cart | html"></span>
                </div>
            </div>

        </div>
    </div>
    </div>
